@import "tailwindcss";
@import "@nuxt/ui";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Roboto, sans-serif;
}

:root {
  --ui-primary: #71510b;
  --ui-secondary: #8f7917;
  --ui-primary-5: #6e5111ae;
}

@theme {
  --color-primary-main: var(--ui-primary);
  --color-primary-2: var(--ui-secondary);
  --color-primary-3: var(--ui-primary-3);
  --color-primary-4: var(--ui-primary-4);
  --color-primary-5: var(--ui-primary-5);
  --color-container-main: var(--ui-container-main);
  --color-container-secondary: var(--ui-container-secondary);
  --color-border-main: var(--ui-border-main);
  --color-body-1: var(--ui-body-1);
  --color-body-2: var(--ui-body-2);
  --color-body-3: var(--ui-body-3);
  --color-body-4: var(--ui-body-4);
  --color-body-5: var(--ui-body-5);
  --color-body-6: var(--ui-body-6);
  --color-body-7: var(--ui-body-7);
  --color-body-8: var(--ui-body-8);
  --color-body-9: var(--ui-body-9);
  --color-body-10: var(--ui-body-10);
  --color-body-11: var(--ui-body-11);
  --color-red-7: #ee4040;
}
